.editor {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e9e9e9;
  height: auto;
}
.ant-layout .header-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 65px;
}

.ant-row .ant-col {
  display: block !important;
  height: auto !important;
}
.row-button {
  display: flex !important;
  justify-content: center;
}

.text-area-input {
  margin: 24px 0px;
  width: 100%;
}

.radio-style {
  display: flex !important;
  width: 100% !important;
}
.ant-layout .form-wrapper {
  margin-top: 20px;
}
.loading {
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
}

.loadingOverlay {
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  display: block;
  right: 0;
  bottom: 0;
}
#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
  font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
  font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}
/* Set content font-families */

.ql-font-inconsolata {
  font-family: "Inconsolata";
}

.ql-font-roboto {
  font-family: "Roboto";
}
.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-arial {
  font-family: "Arial";
}

.addQuestion-horizontal {
  width: 100%;
}

.addQuestion-horizontal .ant-col-10 .radio-wrapper .ant-form-item-control-wrapper {
  padding-left: 15px;
}

.addQuestion-horizontal .ant-col-10 .uploadImage-wrapper .ant-form-item-control-wrapper {
  padding-left: 40px;
}

.addQuestion-horizontal .ant-col-10 .uploadImage-wrapper{
  display: flex;
  justify-content: center;
}

.ant-upload-select-picture{
  cursor: pointer;
}

.ant-upload-select-picture .show-upload-imageUrl{
  background-color: #DFDFDF;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .avatar-uploader{
    position: relative;
  }

.anticon-close-circle{
    position: absolute;
    left: 5px;
    top: 5px;
  }